<div class="row justify-content-end mt-4">
    <div class="col-md-4">
        <table class="table table-sm">
            <tr>
                <td><strong>Suma Netto:</strong></td>
                <td class="text-end" id="summaryNet">0.00 PLN</td>
            </tr>
            <tr>
                <td><strong>Suma VAT:</strong></td>
                <td class="text-end" id="summaryVat">0.00 PLN</td>
            </tr>
            <tr class="table-active fs-5">
                <td><strong>DO ZAPŁATY:</strong></td>
                <td class="text-end fw-bold" id="summaryGross">0.00 PLN</td>
            </tr>
        </table>
    </div>
</div>
